.fa {
    font-size: 1.4rem;
}

.mytitle {
    padding: 3rem 1.5rem;
    text-align: center;
}

.scrapylogo {
    width: 100%;
    height: auto;
    max-width: 500px;
}

body {
    padding-top: 5rem;
    padding: 3rem;
}

jobs-source h3 {
    cursor: pointer;
}

.badge {
    background-color: #48aa15;
    height: 30px;
    padding: 9px;
}
