#btnPower {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.fa {
    font-size: 1.4rem;
}

.fa-firefox {
    color: orange;
}

.mytitle {
    padding: 3rem 1.5rem;
    text-align: center;
}

.scrapylogo {
    width: 100%;
    height: auto;
    max-width: 450px;
    /*min-width: 300px;*/
}

body {
    padding-top: 5rem;
    padding: 3rem;
}

jobs-source h3 {
    /*cursor: pointer;*/
    /*cursor: auto;*/
    /* https://css-tricks.com/using-css-cursors/ */
    display: flex;
    cursor: help;
    font-size: 20px;
}

.badge {
    background-color: #48aa15;
    height: 28px;
    padding-top: 8px;
}

hr.interestingborder{
    /* https://codepen.io/ibrahimjabbari/pen/ozinB */
    width:95%;
    /*
    height: 6px;
	background: url(../img/greenZigZagHr.png) repeat-x 0 0;
    border: 0;
    */
    border-top: .1px dashed rgba(41, 163, 41, 0.5);
	border-bottom: 0;


}
/*class="subHeading"*/
@media screen and (max-width: 480px) {
    .subHeading {
        display: none;
    }
}
