<!DOCTYPE html>
<html lang="en" ng-app="jobListings">

<head>
    <title>Viewer for Scrapy Scrapes</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link href="bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body ng-controller="JobsController as jobs">
    <div id="btnPower"><a href="../html-projects-menu/index.html"><i class='fa fa-step-backward fa-2x'> </i></a> <a href="#" onclick="window.close();"> <i class='fa fa-power-off fa-2x'></i></a></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="mytitle">
                    <a href="https://scrapy.org/" target="_blank"><img src="img/Scrapy-Logo-Horizontal.png" class="scrapylogo" alt="Linux Scrapy"></a>
                    <h1>View Scrapy Scrapes</h1>
                    <div class="subHeading">
                        <p>
                            Use this as a way to view and filter through <code>-o .json</code> scrape results in <a href="https://stackoverflow.com/a/27743373" target="_blabk" data-toggle="tooltip" title="On Chrome: Add ''--allow-file-access-from-files'' after Chrome's shortcut target, or run page via localhost server.">Firefox</a>.
                        </p>
                        <p>
                            <p>Crawl: <code>source /home/mezcel/github/scrapy-scrape-viewer/scrapy-scrape-viewer.sh</code>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label for="include">Include:</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="include-addon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <input id="include" type="text" class="form-control" ng-model="jobs.include" aria-describedby="include-addon" />
                        </div>
                        <ul class="subHeading">
                            <li>UPS: full state</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <label for="exclude">Exclude:</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="exclude-addon">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </span>
                            <input id="exclude" type="text" class="form-control" ng-model="jobs.exclude" aria-describedby="exclude-addon" />
                        </div>
                    </div>
                </div>
                <!-- html template is in src/jobs-source.directive.html -->
                <jobs-source ng-repeat="source in jobs.sources" style="cursor: context-menu;"></jobs-source>

            </div>
        </div>
    </div>
    <!-- .container-fluid -->
    <script src="src/jquery-3.1.1.min.js"></script>
    <script src="bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="src/app.js"></script>

</body>

<footer>
</footer>

</html>
